<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" type="text/css" href="D:\MSIT\Web_App_Dev\Project\Web_App_Dev_HTML\Project1\project1\static\style.css">
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                // document.querySelector("#submit").disabled = true
                document.querySelector("#form").onsubmit = () => {
                    if (document.querySelector("#username").value.length == 0) {
                        alert("Please enter your username")
                        return false
                    }
                    else if (document.querySelector("#password").value.length == 0) {
                        alert("Please enter your password")
                        return false
                    }
                    else if (!passwordValidation(document.querySelector("#password").value)) {
                        alert("Your password must be 6 characters long, with atleast one uppercase, one lowercase, one number and one symbo")
                        return false
                    }
                    else if (!emailValidation(document.querySelector("#email").value)) {
                        alert("Please enter valid email, that should end with @xyz.com")
                        return false
                    }
                }
            });

            function emailValidation(email) {
                    var mailFormat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                    if (email.match(mailFormat)) {
                        return true
                    } else return false
                }

            function passwordValidation(password) {
                var passFormat=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{6,15}$/;
                if (password.match(passFormat)) {
                    return true
                }else return false
            }
        </script>
    </head>

    <body class="body_reg">
        <div class="form-container">
            <div></div>
            <div class="title">
                <h2>Registration Info</h2>
            </div>
            <div class="row">
                <div class="form-column">
                    <form id="form" method="POST">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Enter your name..">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email..">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter your new username..">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password...">
                        <button id="submit" class="button button4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
