<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body class="body_reg">
        <div class="form-container">
            <div></div>
            <div class="title">
                <h2>Registration Info</h2>
            </div>
            <div class="row">
                <div class="form-column">
                    <form action="{{ url_for('index') }}" method="POST">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Enter your name..">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter your new username..">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password...">
                        <label for="password">Confirm Password</label>
                        <input type="password" id="password" name="confirm-password" placeholder="Confirm your password...">
                        <label for="birthday">Birthday:</label>
                        <input type="date" id="birthday" name="birthday">
                        <h6 id="gender_title">Select your gender</h6>
                        <label for="male">Male</label>
                        <input type="radio" id="male" name="gender">
                        <label for="female">Female</label>
                        <input type="radio" id="female" name="gender">
                        <label for="address">Address</label>
                        <textarea id="address" name="address" placeholder="Enter your address..." style="height:100px"></textarea>
                        <button class="button button4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
