<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" type="text/css" href="D:\MSIT\Web_App_Dev\Project\Web_App_Dev_HTML\Project1\project1\static\style.css">
    </head>

    <body class="body_reg">
        <div class="form-container">
            <div></div>
            <div class="title">
                <h2>Registration Info</h2>
            </div>
            <div class="row">
                <div class="form-column">
                    <form action="{{ url_for('register') }}" method="POST">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Enter your name..">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter your new username..">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password...">
                        <label for="password">Confirm Password</label>
                        <input type="password" id="password" name="confirm-password" placeholder="Confirm your password...">
                        <label for="birthday">Birthday:</label>
                        <input type="date" id="birthday" name="birthday">
                        <label for="address">Address</label>
                        <textarea id="address" name="address" placeholder="Enter your address..." style="height:100px"></textarea>
                        <div class="button_area" style="margin-left: 30%;">
                            <button class="button submit_button" name="button" value="submit">Submit</button>
                            <!-- <button class="button login_button" name="button" value="login">Login</button> -->
                            <div style="color: white; margin-left: -60px;">
                                <h4>Already existing user?<a style="color: white;" href="/login"> Click here to login...</a></h4>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
